<!DOCTYPE html>
<html>
    <head>
        <title>CWdB - SOBRE</title>

        <% include partials/head %>
        
        <link rel="stylesheet" href="index.css">

    </head>

    <body class="hold-transition skin-blue layout-top-nav" style="height: auto; min-height: 100%;">
        
        <% include partials/header %>

    </body>

</html>