<!DOCTYPE html>
<html>
    <head>
        <title>CWdB - SOBRE</title>

        <% include partials/head %>
        
        <link rel="stylesheet" href="sobre.css">

    </head>

    <body class="hold-transition skin-blue layout-top-nav" style="height: auto; min-height: 100%;">
        
        <% include partials/header %>

        <div id="page_content" style="width:100%">
            <div class="callout callout-info">
                <h4>Yay!</h4>
        
                <p>
                    Projeto feito para melhorar o mundo como parte de um trabalho de conclusão de curso (TCC).
                </p>
                <ul>
                    <li>
                        Curso de Engenharia Eletrônica
                    </li>
                    
                    <li>
                        Universidade Tecnológica Federal do Paraná
                    </li>

                    <li>
                        Orientadora: Professora Doutora Keiko Ono
                    </li>
        
                    <li>
                        Link para o trabalho:
                        <a href="www.google.com">LINK!</a>
                    </li>
                </ul>
            </div>
        
            <div class="row">
        
                <div class="cards col-md-3 col-md-offset-0" style="margin-left: 40px">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                            <h3 class="widget-user-username">Guilherme Ono Sens</h3>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/Guilherme.jpg" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
        
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
        
                <div class="cards col-md-3 col-md-offset-1">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-blue">
                            <h3 class="widget-user-username">Josnei Luis Olszewski Junior</h3>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/Josnei.jpg" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
        
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
        
                <div class="cards col-md-3 col-md-offset-1">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-red">
                            <h3 class="widget-user-username">Thalita Munique Costa</h3>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/Thalita.jpg" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
        
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
        
            </div>
        </div>

        <style>

            </style>
    </body>
</html>